:root{
    --cor--primaria:#5E2129;
    --cor--secundaria: #F6F6F6;
    --cor--terciaria: #000000;

    --fonte--titulo: "Krona One", sans-serif;
    --fonte--texto:  "Montserrat", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.tipo_cardapio {
    text-align: center;
    margin: 40px 0;
    color: var(--cor--primaria);
    font-size: 35px;
}

.card_produto {
    background-color: var(--cor--primaria);
    color: white;
    width: 320px;
    border-radius: 10px;
    margin: 40px auto;
    display: flex;
    padding: 10px;
    position: relative;
}

.foto_produto {
    height: 150px;
    border-radius: 90px;
    margin-right: 20px;
}

.nome_produto {
    margin-bottom: 20px;
}

.peso {
    font-size: 19px;
}

.preço {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
}